fly.toml
.venv
__pycache__/
*.npz
*.csv
*.pt
*.ckpt
*.pkl
*.log
*.tmp
*.zip
*.tar.gz
*.ipynb_checkpoints/
.env
.env.*
.DS_Store
.vscode/
.embeddings/
data/
backend/embeddings/
backend/data/
frontend/__pycache__/